/*----- ログイン画面 -----*/

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.login__box {
  width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #696969;
}

.login__title {
  padding: 20px;
  background: #0000FF;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

/*----- ログイン情報　入力欄 -----*/

.login__form {
  background: #fff;
  padding: 20px;
  border-radius: 0 0 8px 8px;
}

.login__table {
  width: 100%;
}

.login__table th {
  width: 10%;
}

.login__table td {
  width: 90%;
}

.login__td--error {
  font-size: 12px;
  padding: -10px 0;
  text-align: right;
  color: #B1063A;
}

.login__icon {
  width: 23px;
}

.login__td {
  padding: 10px 0;
}

.login__input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
}

.login__input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.login__none {
  text-align: end;
  color: #B1063A;
  font-size: 14px;
}

/*----- ログイン送信ボタン -----*/

.login__box--bottom {
  text-align: right;
}

.login__btn {
  margin-top: 20px;
  background: #0000FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 26%;
  padding: 8px;
  cursor: pointer;
}

.login__btn:hover {
  box-shadow: 0 0 8px #696969;
}

@media screen and (max-width:768px) {

  .login__title {
    font-size: clamp(14px, 1vw, 20px);
  }

  .login__td--error {
    font-size: 12px;
    font-size: clamp(8px, 1vw, 16px);
  }

  .login__input {
    font-size: 16px;
    font-size: clamp(14px, 1vw, 16px);
  }

  .login__btn {
    width: 40%;
    font-size: clamp(12px, 1vw, 14px);
  }
}