/*---- 決済完了画面 -----*/

.paid {
  background: #fff;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 80px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #696969;
}

.paid__text {
  margin-bottom: 100px;
  font-size: 22px;
  font-size: clamp(16px, 2vw, 22px);
}

.mypage__link {
  background: #0000FF;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: clamp(12px, 1vw, 18px);
}

.mypage__link:hover {
  background: rgb(0, 0, 255, 0.8);
  box-shadow: 0 0 8px #696969;
}

@media screen and (max-width:768px) {

  .paid {
    width: 98%;
  }

  .paid__text {
    margin-bottom: 50px;
  }
}