/*---- メール再送画面 -----*/

.resend {
  background: #fff;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #696969;
}

.resend__title {
  margin-bottom: 50px;
  font-size: clamp(16px, 1.5vw, 24px);
}

.resend__text--top {
  font-size: clamp(12px, 1vw, 18px);
  line-height: 1.2em;
  margin-bottom: 25px;
}

/*---- 再送ボタン -----*/

.resend__btn {
  background: #0000FF;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: clamp(12px, 1vw, 18px);
}

.resend__btn:hover {
  background: rgb(0, 0, 255, 0.8);
  box-shadow: 0 0 8px #696969;
}

.resend__text--bottom {
  font-size: clamp(12px, 1vw, 18px);
  margin-top: 25px;
}

/*---- レスポンシブデザイン -----*/

@media screen and (max-width:768px) {

  .resend {
    width: 95vw;
  }
}