/*----- ヘッダー配置変更 -----*/

.header-left {
  width: 20%;
}

.header-right {
  width: 80%;
  height: auto;
}

/*----- レイアウト　配色変更 -----*/

.hamburger-trigger {
  background: #3CB371;
}

.hamburger-trigger:hover {
  background: rgb(60, 179, 113, 0.8);
}

.header__title {
  color: #3CB371;
}

.menu__item {
  color: #3CB371;
}

/*----- ドロワーメニュー 幅変更 -----*/

.menu__item {
  margin: 25% 0;
}