.mail {
  margin: 20px 0;
  border: 1px solid #3CB371;
  background: rgb(60, 179, 113, 0.2);
  border-radius: 5px;
}

.mail__title {
  text-align: center;
}

.result {
  text-align: center;
  color: #fff;
  background: #CD5C5C;
  width: 90%;
  padding: 5px 0;
  font-size: clamp(12px, 1.2vw, 20px);
  margin: 0 auto;
  border-radius: 5px;
}

.mail__text {
  text-align: center;
}

.mail__textarea {
  resize: none;
  width: 90%;
  height: 25vh;
  border-radius: 5px;
  font-size: clamp(12px, 1vw, 20px);
  padding: 5px;
}

.mail__sent {
  text-align: center;

}

.mail__btn {
  background: #3CB371;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 6px 0;
  margin: 15px 0;
  cursor: pointer;
}

.mail__btn:hover {
  background: rgb(60, 179, 113, 0.8);
  box-shadow: 0 0 6px #696969;
}

.reserved__table tr th, 
.reserved__table tr td {
  width: 50%;
}

/* reserved.cssを受け継いでしまっている。あとで訂正する */
.reserved__table tr th:last-of-type,
.reserved__table tr td:last-of-type {
  width: 50%;
  text-align: center;
}
/* あとで訂正する */
.reserved__table tr th:first-of-type,
.reserved__table tr td:first-of-type {
  width: 50%;
}