.header__title {
  color: #3CB371;
}

.reserved__content {
  text-align: center;
}

.reserved__body {
  box-shadow: 0 0 8px #696969;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.reserved__title {
  font-size: clamp(26px, 1vw, 32px);
  margin-bottom: 25px;
}

.reserved__username {
  font-size: clamp(22px, 1vw, 28px);
  margin-bottom: 20px;
}

.reserved__detail {
  font-size: clamp(18px, 1vw, 24px);
  margin-bottom: 20px;
}

.reserved__text {
  font-size: clamp(20px, 1vw, 24px);
  margin-top: 30px;
}

