/*---- 送信完了画面 -----*/

.send {
  background: #fff;
  text-align: center;
  width: 450px;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #696969;
}

.send__text {
  margin-bottom: 50px;
  font-size: clamp(14px, 2vw, 22px);
}

.return__link {
  background: rgb(60, 179, 113);;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: clamp(14px, 1vw, 20px);
}

.return__link:hover {
  background: rgb(60, 179, 113, 0.8);;
  box-shadow: 0 0 8px #696969;
}

/*------------ レスポンシブデザイン ------------*/

@media screen and (max-width:768px) {

  .send {
    width: 60%;
    padding: 50px 0;
  }

  
}