.admin__nav {
  color: #DC143C;
  font-size: 18px;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 5px;
}

.admin__nav ul {
  display: flex;
  justify-content: flex-end;
}

.admin__nav ul li {
  font-size: clamp(12px, 1.5vw, 16px);
  cursor: pointer;
}

.admin__nav ul li:not(:last-of-type) {
  margin-right: 8%;
}

.admin__nav ul li:hover {
  opacity: 0.6;
}

.admin__title {
  font-size: clamp(10px, 2vw, 18px);
  margin-bottom: 5px;
}

.register-manager {
  font-size: clamp(10px, 1vw, 20px);
  border: 2px solid #DC143C;
  border-radius: 5px;
  padding: 20px;
  background: rgb(220, 20, 60, 0.1);
  margin-bottom: 40px;
}

.error__ul {
  display: flex;
  list-style: none;
  color: rgb(220, 20, 60);
  margin-bottom: 10px;
}

.shop__select {
  margin-bottom: 8px;
  cursor: pointer;
}

.shop__select,
.manager__input {
  width: 20%;
  border-radius: 5px;
  border: 1px solid #DC143C;
  padding: 7px 0 7px 0.5em;
  font-size: clamp(10px, 1vw, 16px);
}

.responsive__input:not(:last-of-type) {
  margin-right: 1em;
}

.responsive__input {
  display: inline;
  width: 30%;
}

.responsive__btn {
  text-align: center;
  margin-top: 2em;
}

.register-manager__btn {
  background: #DC143C;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 10%;
  padding: 5px 0;
  cursor: pointer;
  font-size: clamp(10px, 1.5vw, 14px);
}

.register-manager__btn:hover {
  background: rgb(220, 20, 60, 0.8);
  box-shadow: 0 0 8px #696969;
}

.manager__table {
  width: 100%;
  margin-bottom: 50px;
}

.manager__table tr th,
.manager__table tr td {
  border: 1px solid #DC143C;
  padding: 5px 10px;
  font-size: clamp(12px, 1.5vw, 18px);
}

.manager-id {
  text-align: center;
} 

/*------------ レスポンシブデザイン ------------*/

@media screen and (max-width:768px) {

  .register-manager {
    padding: 20px 0;
  }

  .shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.3em;
  }

  .manager__label {
    width: 15%;
    text-align: right;
    font-size: clamp(10px, 1.5vw, 14px);
  }

  .shop__select,
  .manager__input {
    width: 55%;
    border-radius: 5px;
    padding: 7px 0 7px 0.5em;
    font-size: clamp(12px, 1vw, 16px);
    margin-left: 5px;
  }
  
  .responsive__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
  }

  .responsive__btn {
    text-align: center;
    margin-top: 20px;
  }

  .register-manager__btn {
    width: 20%;
  }
  


}