/*----- ヘッダー配置変更 -----*/

.header-left {
  width: 20%;
}

.header-right {
  width: 80%;
  height: auto;
}

/*----- レイアウト　配色変更 -----*/

.hamburger-trigger {
  background: #DC143C;
}

.hamburger-trigger:hover {
  background: rgb(220, 20, 60, 0.8);
}


.header__title {
  color: #DC143C;
}

.menu__item {
  color: #DC143C;
}

/*----- ドロワーメニュー 幅変更 -----*/

.menu__item {
  margin: 30% 0;
}